 /*common shared styles open sans  */
 body h3{
    font-family: 'Open Sans', sans-serif; 
 }
 
 
 li{
    /* display: flex; */
}
 /* nav related styles */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
 }
 h3{
    font-size: 50px;
    font-weight: 800px;
 }
 .orange{
    color: chocolate;
 }
 nav > ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 50px;

 }
 button{
    color:aliceblue;
    background-color: chocolate;
    width: 90px;
    height: 30px;
    border: 3px solid;
    border-radius: 5px;
    border-color: darkgoldenrod;
    text-align: center;
    font-size: large;
 }
 nav a{
    text-decoration: none;
    color: #474747;
    font-size: large;
    
 }
 /* header related styles */
 header{
    background-color: #FFF8F3;
 }
 .banner{
    padding: 30px 0px 0px 150px;
    display: flex;
}
.banner .profile{
    width: 400px;
    height: 500px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}
 .btn{
    align-items: center;
 }
 .about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    margin: 130px 0;

 }
 .section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

 }
 .section-description{
   color: #757575;
   text-align: center;
   font-size: 18px;
 }