 /*common shared styles open sans  */
 body h3{
    font-family: 'Open Sans', sans-serif; 
 }
 
 
 li{
    /* display: flex; */
}
 /* nav related styles */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 0 150px;
 }
 h3{
    font-size: 50px;
    font-weight: 800px;
 }
 .orange{
    color: chocolate;
 }
 nav > ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 50px;

 }
 button{
    color:aliceblue;
    background-color: chocolate;
    width: 90px;
    height: 30px;
    border: 3px solid;
    border-radius: 5px;
    border-color: darkgoldenrod;
    text-align: center;
    font-size: large;
 }
 nav a{
    text-decoration: none;
    color: #474747;
    font-size: large;
    
 }
 /* header related styles */
 header{
    background-color: #FFF8F3;
 }
 .banner{
    padding: 30px 150px 0px 150px;
    display: flex;
}
.banner .profile{
    width: 400px;
    height: 500px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile{
   background width: 946px;
   background height: 518px;
   background align:right;
}
 .btn{
    align-items: center;
 }
 /* main section styles */
 main{
   max-width: 1140px;
   margin: 0 auto;

 }
 main section{
   margin-top: 130px;
 }

 .about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    margin: 130px 0;

 }
 .section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

 }
 .section-description{
   color: #757575;
   text-align: center;
   font-size: 18px;
 }
 .about-info-container{
   display: flex;
   justify-content: space-around;
 }
 .about-info{
   text-align: center;

 }
 /* skill section styles */
 #what-i-do-description{
   padding: 30px 150px;
 }
 .skills-container{
   display: flex;
   gap: 24px; 
 }
 .skill{
   padding: 30px;
   border-radius: 5px;
   background: #FFF;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   /* background-color: bisque; */
 }
 .skill-description{
   color: #757575;
 }
 /* resume section style */
 .resume-column-title{
   color: #474747;
   font-size: 30px;
   font-weight: 700;

 }
 .resume-container{
   display: flex;
   gap: 50px;
 }
 .resume-item-description, .resume-item-institute{
   color: #757575;
 }
 .resume-item-institute{
   font-size: small;
 }
 .btn{
   width: 150px;
   height: 30px;
 }
 .download-cv{
   text-align: center;
   margin-top: 50px;
 }
 footer{
   display: flex;
   background-color: #FFF8F3;
   padding: 130px 200px;
   margin-top: 100px;
 }


